@model e_commerce.Models.like


<tbody>
    <tr>
    
   <td>
        
        
        <div style="width:47px;height:86px;">

            <img src="~/uploads/@Model.User.Image" alt="ImageUser">


        </div>
        
        </td>
        <td>
            @Model.post_txt
        </td>
        <td>
            @Model.data
        </td>

    </tr>
</tbody>