
@model IEnumerable<e_commerce.Models.Category>

@foreach (var item in Model)
{

    <li>
       
        @Html.ActionLink(item.CategoryName, "catsearch", "Home", new { id = item.id },
        new { @class = "icon-chevron-right" })

    </li>

   
}



