
@model IEnumerable<e_commerce.Models.bestsell>
@{
    ViewBag.Title = "getproductbyuser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menu{
}
<b>the best product buyed by users</b>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemId)




        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalUnitsInStock)
           </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalUnitsInStock)


        </td>
    </tr>
}

</table>
